<h1 class="text-3xl font-bold underline mb-4">
  Pokémons
</h1>
<div class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-5 lg:grid-cols-9 gap-4">
  <a routerLink="/detalhes" class="bg-primary h-32 transition-transform transform hover:scale-110 cursor-pointer relative flex items-center justify-center">
    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png" alt="Bulbasaur" class="w-32 h-32">
    <span class="text-white font-bold text-xl absolute bottom-0 left-1/2 transform -translate-x-1/2">Bulbasaur</span>
  </a>

  <a routerLink="/detalhes" class="bg-primary h-32 transition-transform transform hover:scale-110 cursor-pointer relative flex items-center justify-center">
    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/2.png" alt="Ivysaur" class="w-32 h-32">
    <span class="text-white font-bold text-xl absolute bottom-0 left-1/2 transform -translate-x-1/2">Ivysaur</span>
  </a>

  <a routerLink="/detalhes" class="bg-primary h-32 transition-transform transform hover:scale-110 cursor-pointer relative flex items-center justify-center">
    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/3.png" alt="Venusaur" class="w-32 h-32">
    <span class="text-white font-bold text-xl absolute bottom-0 left-1/2 transform -translate-x-1/2">Venusaur</span>
  </a>

  <a routerLink="/detalhes" class="bg-primary h-32 transition-transform transform hover:scale-110 cursor-pointer relative flex items-center justify-center">
    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/4.png" alt="Charmander" class="w-32 h-32">
    <span class="text-white font-bold text-xl absolute bottom-0 left-1/2 transform -translate-x-1/2">Charmander</span>
  </a>

  <a routerLink="/detalhes" class="bg-primary h-32 transition-transform transform hover:scale-110 cursor-pointer relative flex items-center justify-center">
    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/5.png" alt="Charmeleon" class="w-32 h-32">
    <span class="text-white font-bold text-xl absolute bottom-0 left-1/2 transform -translate-x-1/2">Charmeleon</span>
  </a>

  <a routerLink="/detalhes" class="bg-primary h-32 transition-transform transform hover:scale-110 cursor-pointer relative flex items-center justify-center">
    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/6.png" alt="Charizard" class="w-32 h-32">
    <span class="text-white font-bold text-xl absolute bottom-0 left-1/2 transform -translate-x-1/2">Charizard</span>
  </a>

  <a routerLink="/detalhes" class="bg-primary h-32 transition-transform transform hover:scale-110 cursor-pointer relative flex items-center justify-center">
    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/7.png" alt="Squirtle" class="w-32 h-32">
    <span class="text-white font-bold text-xl absolute bottom-0 left-1/2 transform -translate-x-1/2">Squirtle</span>
  </a>

  <a routerLink="/detalhes" class="bg-primary h-32 transition-transform transform hover:scale-110 cursor-pointer relative flex items-center justify-center">
    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/8.png" alt="Wartortle" class="w-32 h-32">
    <span class="text-white font-bold text-xl absolute bottom-0 left-1/2 transform -translate-x-1/2">Wartortle</span>
  </a>

  <a routerLink="/detalhes" class="bg-primary h-32 transition-transform transform hover:scale-110 cursor-pointer relative flex items-center justify-center">
    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/9.png" alt="Blastoise" class="w-32 h-32">
    <span class="text-white font-bold text-xl absolute bottom-0 left-1/2 transform -translate-x-1/2">Blastoise</span>
  </a>

  <a routerLink="/detalhes" class="bg-primary h-32 transition-transform transform hover:scale-110 cursor-pointer relative flex items-center justify-center">
    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/10.png" alt="Caterpie" class="w-32 h-32">
    <span class="text-white font-bold text-xl absolute bottom-0 left-1/2 transform -translate-x-1/2">Caterpie</span>
  </a>

  <a routerLink="/detalhes" class="bg-primary h-32 transition-transform transform hover:scale-110 cursor-pointer relative flex items-center justify-center">
    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/11.png" alt="Metapod" class="w-32 h-32">
    <span class="text-white font-bold text-xl absolute bottom-0 left-1/2 transform -translate-x-1/2">Metapod</span>
  </a>

  <a routerLink="/detalhes" class="bg-primary h-32 transition-transform transform hover:scale-110 cursor-pointer relative flex items-center justify-center">
    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/12.png" alt="Butterfree" class="w-32 h-32">
    <span class="text-white font-bold text-xl absolute bottom-0 left-1/2 transform -translate-x-1/2">Butterfree</span>
  </a>

  <a routerLink="/detalhes" class="bg-primary h-32 transition-transform transform hover:scale-110 cursor-pointer relative flex items-center justify-center">
    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/13.png" alt="Weedle" class="w-32 h-32">
    <span class="text-white font-bold text-xl absolute bottom-0 left-1/2 transform -translate-x-1/2">Weedle</span>
  </a>

  <a routerLink="/detalhes" class="bg-primary h-32 transition-transform transform hover:scale-110 cursor-pointer relative flex items-center justify-center">
    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/14.png" alt="Kakuna" class="w-32 h-32">
    <span class="text-white font-bold text-xl absolute bottom-0 left-1/2 transform -translate-x-1/2">Kakuna</span>
  </a>

  <a routerLink="/detalhes" class="bg-primary h-32 transition-transform transform hover:scale-110 cursor-pointer relative flex items-center justify-center">
    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/15.png" alt="Beedrill" class="w-32 h-32">
    <span class="text-white font-bold text-xl absolute bottom-0 left-1/2 transform -translate-x-1/2">Beedrill</span>
  </a>

  <a routerLink="/detalhes" class="bg-primary h-32 transition-transform transform hover:scale-110 cursor-pointer relative flex items-center justify-center">
    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/16.png" alt="Pidgey" class="w-32 h-32">
    <span class="text-white font-bold text-xl absolute bottom-0 left-1/2 transform -translate-x-1/2">Pidgey</span>
  </a>

  <a routerLink="/detalhes" class="bg-primary h-32 transition-transform transform hover:scale-110 cursor-pointer relative flex items-center justify-center">
    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/17.png" alt="Pidgeotto" class="w-32 h-32">
    <span class="text-white font-bold text-xl absolute bottom-0 left-1/2 transform -translate-x-1/2">Pidgeotto</span>
  </a>

  <a routerLink="/detalhes" class="bg-primary h-32 transition-transform transform hover:scale-110 cursor-pointer relative flex items-center justify-center">
    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/18.png" alt="Pidgeot" class="w-32 h-32">
    <span class="text-white font-bold text-xl absolute bottom-0 left-1/2 transform -translate-x-1/2">Pidgeot</span>
  </a>

  <a routerLink="/detalhes" class="bg-primary h-32 transition-transform transform hover:scale-110 cursor-pointer relative flex items-center justify-center">
    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/19.png" alt="Rattata" class="w-32 h-32">
    <span class="text-white font-bold text-xl absolute bottom-0 left-1/2 transform -translate-x-1/2">Rattata</span>
  </a>

  <a routerLink="/detalhes" class="bg-primary h-32 transition-transform transform hover:scale-110 cursor-pointer relative flex items-center justify-center">
    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/20.png" alt="Raticate" class="w-32 h-32">
    <span class="text-white font-bold text-xl absolute bottom-0 left-1/2 transform -translate-x-1/2">Raticate</span>
  </a>

</div>
